@using aspnetapp.Models
@using aspnetapp.Auth
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Teachers Digital Agency</title>
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
	<link rel="icon" href="/images/logo.png" />
</head>
<body>
	<div class="topbar">
		<div class="selected">HOME</div>
		<div>LECTURERS</div>
		<div>SIGN IN</div>
	</div>
	<div class="content">
		@RenderBody()
	</div>
	<div class="footer">

	</div>

	@* <div class="topbar">
		<a href="/"><img src="/images/logo.png" /></a>
		<form action="/">
			<img src="/images/plus.png" onclick="dropdownClick()" style="position: relative; cursor: pointer; height: 3rem; margin-right: 1rem;" />
			<div class="dropdownContainer">
				<ul class="dropdownTags">
					<li>LOCATION:</li>
					<li><input placeholder="Input location…" name="location" type="text" minlength="0" maxlength="40" class="nameInput" /></li>
					<li>PRICE:</li>
					<li><input placeholder="Input minimum price…" name="minPrice" type="number" class="nameInput" /></li>
					<li><input placeholder="Input maximum price…" name="maxPrice" type="number" class="nameInput" /></li>
					<li>TAGS:</li>
					@{
						foreach (Lecturer.Tag tag in Database.tags)
						{
							<li>
								<input name="tag" type="checkbox" value="@tag.name" />
								<label>@tag.name</label>
							</li>
						}
					}
				</ul>
			</div>
			<input placeholder="Input name…" name="lecName" type="search" minlength="0" maxlength="40" class="nameInput2" />
			<input type="submit" value="Search" class="submitInput" />
		</form>
		@{
			if (Context.Request.Cookies.TryGetValue("session", out string session) && AccountManager.TryGetAcount(session, out Acount acount))
			{
				<div class="acount">
					<p>Acount: @acount.Username</p>
					<a href="/account/logout">Logout</a>
				</div>
			}
			else
			{
				<div class="acount">
					<p>Not logged in</p>
				</div>
			}
		}
	</div>
	<div class="container">
		@RenderBody()
	</div>
	<script>
		const dropdown = document.querySelectorAll(".dropdownContainer")[0];

		function dropdownClick() {
			dropdown.classList.toggle("show");
		}
	</script> *@
</body>
</html>
