@page
@using aspnetapp.Models
@model aspnetapp.Pages.lecturerModel
@{
}

<body>
	<div class="lecturer">
		<img src=@Model.lecturer.picture_url alt="Profile picture" />
		<div>
			<h1>@Model.lecturer.DisplayName</h1>
			<p>From @Model.lecturer.location</p>
			<p>@Model.lecturer.price_per_hour Kč per hour</p>
			<button onclick="location.href='/lecturer/reserve?id=@Model.lecturer.UUID'">RESERVE</button>
		</div>
		<p>@Model.lecturer.claim</p>
		<p>@Html.Raw(Model.lecturer.bio?.Sanitize() ?? "")</p>
	</div>
</body>