@page
@using aspnetapp.Models;
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="lecturerSearchList">
        @{
            for (int i = 0; i < Model.result.Count; i++)
            {
                Lecturer lecturer = Model.lecturers[Model.result[i].OgIndex].Value;
                <div class="card">
                    <img src=@lecturer.picture_url alt="Profilový obrázek" onclick="location.href = '/lecturer?id=@lecturer.UUID'" />
                    <div class="cardItem"><a class="displayName" href="/lecturer?id=@lecturer.UUID">@lecturer.DisplayName</a></div>
                    <div class="cardItem locationContainer">
                        <span><img src="images/pin.png" alt="Pin icon" class="pin" />@Html.Raw(lecturer.location)</span>
                        <p>@lecturer.claim | @lecturer.price_per_hour Kč za hodinu</p>
                        <ul class="tagContainer">
                            <li class="tag">Tagy:</li>
                            @{
                                for (int j = 0; j < lecturer.tags.Length; j++)
                                {
                                    <li class="tag">@lecturer.tags[j].name</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>
