@page
@using aspnetapp.Models;
@model LecturersModel

<body>
    <script>document.getElementById("topLecturersDiv").classList.toggle("selected")</script>
    <h1 class="title">Lecturers</h1>
    <button class="searchButton" onclick="showSearch()">SEARCH</button>
    <div class="search" style="display: none;">
        <form>
            <div class="basicinfo">
                <label for="name">Name:</label>
                <input id="name" name="lecName" type="text" class="input" />
                <label for="location">Location:</label>
                <input id="location" name="location" type="text" class="input" />
                <label for="price">Minimum price:</label>
                <input id="price" name="minPrice" type="number" class="input" />
                <label for="price">Maximum price:</label>
                <input id="price" name="maxPrice" type="number" class="input" />
            </div>
            <div class="tagsContainer">
                <label for="tags">Tags:</label>
                <div class="tags">
                    @{
                        foreach (Lecturer.Tag tag in Database.tags)
                        {
                            <span>
                                <label for="tag">@tag.name</label>
                                <input name="tag" type="checkbox" value="@tag.name" />
                                <br />
                            </span>
                        }
                    }
                </div>
            </div>
            <div class="submitContainer"><input type="submit" value="SEARCH"></div>
        </form>
    </div>
    <div class="lecturerSearchList">
        @{
            for (int i = 0; i < Model.result.Count; i++)
            {
                Lecturer lecturer = Model.lecturers[Model.result[i].OgIndex].Value;
                <div class="card" onclick="location.href = '/lecturer?id=@lecturer.UUID'">
                    <img src=@lecturer.picture_url alt="Profile picture" />
                    <div>
                        <p>@lecturer.DisplayName</p>
                        <div>
                            <span><img src="images/pin.png" alt="Pin icon" class="pin" />From @Html.Raw(lecturer.location)</span>
                            <p>@lecturer.price_per_hour Kč per hour</p>
                        </div>
                        <ul>
                            <li>Tagy:</li>
                            @{
                                for (int j = 0; j < lecturer.tags.Length; j++)
                                {
                                    <li>@lecturer.tags[j].name</li>
                                }
                            }
                        </ul>
                    </div>
                    <p>@lecturer.claim</p>
                </div>
            }
        }
    </div>
    <script>
        function showSearch()
        {
            var search = document.querySelector(".search");
            if (search.style.display == "none")
                search.style.display = "block";
            else
                search.style.display = "none";
        }
    </script>
</body>